*{
    box-sizing: border-box;
}
.HoverSlidenavButton{
    position: relative;
    width: 80%;
    height: 300px;
    margin: 12px auto;
    background-color: #eeeeee;
    padding: 12px 16px;
    overflow: hidden;
}

.HoverSlidenavButton h2, .HoverSlidenavButton p{
    padding-left: 50px;
}

.SlidenavButton {
    position: absolute;
    top: 20px;
    left: 0px;
}

.SlidenavButton ul{
    list-style-type: none;
    padding-left: 0px;
}

.SlidenavButton ul li{
    margin-bottom: 5px;
}

.SlidenavButton ul li a{
    text-decoration: none;
    color: #eeeeee;
    padding: 10px 40px 10px 10px;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateX(-77px);
    transition: 0.5s;
}

.SlidenavButton ul li:nth-child(1) a{
    background-color: #4CAF50cc;
}
.SlidenavButton ul li:nth-child(2) a{
    background-color: #2196F3cc;
}
.SlidenavButton ul li:nth-child(3) a{
    background-color: #F44336cc;
}
.SlidenavButton ul li:nth-child(4) a{
    background-color: #555555cc;
}
.SlidenavButton ul li:nth-child(1) a:hover{
    background-color: #4CAF50;
    transform: translateX(0px);
}
.SlidenavButton ul li:nth-child(2) a:hover{
    background-color: #2196F3;
    transform: translateX(0px)
}
.SlidenavButton ul li:nth-child(3) a:hover{
    background-color: #F44336;
    transform: translateX(0px)
}
.SlidenavButton ul li:nth-child(4) a:hover{
    background-color: #555555;
    transform: translateX(0px)
}